html{
    box-sizing: border-box;
}

body {
    background: linear-gradient(132deg, #d9edf8, #dffdff);
}

.header{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: white;
    margin: 0px;
    height: 55px;

    transition: all 0.3s ease-in;
}
.header.hide-transition {
    display: none;
}
.header.show-transition {
    display: flex;
}

.services-pop-up {
    display: none;
    position: absolute;
    top: 50px;
    height: 180px;
    background: white;
    left: 0;
    right: 0;
}
.services-header {
    display: flex;
    position: absolute;
    left: 288px;
    top: 20px;
}
.services-header-anchor {
    height: 50px;
    width: 150px;
    justify-content: center;
    display: flex;
    text-decoration: none;
    position: relative;
    padding: 0;
}
.services-header-text {
    font-size: 18px;
    color: skyblue;
    display: block;
}
.services-header-anchor:hover {
    cursor: pointer;
}
.services-header-anchor:hover:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border: solid 2px skyblue;
    animation: border-anim 0.3s ease-in forwards;
}

.logo {
    margin-left: 200px;
}

.header-cus-bus {
    display: flex;
    margin-left: 10px;
}

.get-started {
    display: flex;

}

.header-text {
    color: skyblue;
}

.header-text-get-started {
    color: lightgray;

    transition: all ease-in 0.3s;
}

.header-text-anchor {
    display: flex;
    justify-content: center;
    width: 100px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, skyblue 50%);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    padding: 0;
    font-size: 20px;

    transition: background-position 1s;

    transition: all 0.3s ease-out;
}
.header-text-anchor:hover {
    background-position: 0 -100%;
    cursor: pointer;
}
.header-text-anchor:hover .header-text {
    color: white;
}

.get-started {
    margin-left: 150px;
}
.header-text-get-started {
    font-size: 15px;
    position: absolute;
    top: 10px;
}
.header-text-anchor-get-started {
    text-decoration: none;
    display: flex;
    position: relative;
    justify-content: center;
    width: 80px;
    padding: 0;
    font-size: 20px;
}
.header-text-anchor-get-started:hover:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px darkgray;
    animation: border-anim 0.3s ease-in forwards;
}
@keyframes border-anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
.header-text-anchor-get-started:hover {
    cursor: pointer;
}
.header-text-anchor-get-started:hover .header-text-get-started {
    color: darkgray;
}

.main-body {
    display: flex;
    justify-content: center;
}
.main-body-h1 {
    font-size: 40px;
    position: absolute;
    top: 300px;
    left: 350px;
    color: darkcyan;
}
.main-body-h2 {
    font-size: 20px;
    position: absolute;
    top: 470px;
    left: 350px;
    color: rgb(4, 77, 77);
}
.phone {
    height: 300px;
    position: absolute;
    top: 250px;
    left: 550px;
    transform: rotate(20deg);
}