html{
    box-sizing: border-box;
}

body {
    background: linear-gradient(132deg, #d9edf8, #dffdff);
}

.header{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: white;
    margin: 0px;
}

.logo {
    margin-left: 200px;
}

.header-cus-bus {
    display: flex;
    margin-left: 20px;
}

.get-started {
    display: flex;

}

.header-text {
    color: skyblue;
}

.header-text-get-started {
    color: lightgray;

    transition: all ease-in 0.3s;
}

.header-text-anchor {
    display: flex;
    justify-content: center;
    width: 100px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, skyblue 50%);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    padding: 0;
    font-size: 20px;

    transition: background-position 1s;

    transition: all 0.3s ease-out;
}
.header-text-anchor:hover {
    background-position: 0 -100%;
    cursor: pointer;
}
.header-text-anchor:hover .header-text {
    color: white;
}

.get-started {
    margin-left: 150px;
}
.header-text-get-started {
    font-size: 15px;
    position: absolute;
    top: 10px;
}
.header-text-anchor-get-started {
    text-decoration: none;
    display: flex;
    position: relative;
    justify-content: center;
    width: 80px;
    padding: 0;
    font-size: 20px;

}
.header-text-anchor-get-started:hover:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px darkgray;
    animation: border-anim 0.3s ease-in forwards;
}
@keyframes border-anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
.header-text-anchor-get-started:hover {
    cursor: pointer;
}
.header-text-anchor-get-started:hover .header-text-get-started {
    color: darkgray;
}